<body>
  <h1>Contactate con nosotros</h1>
  <p>Si el producto que buscas no está en la lista o tenes alguna duda al respecto, comunicate con nosotros
    por estos canales.
  </p>
  <p>Tu consulta es bienvenida.</p>
  <ul>
      <li><img src="../../assets/img/logotipo-de-instagram.png">
        <a href="https://www.instagram.com/frido.petshop/" target="_blank">Frido Petshop</a>
      </li>
      <li>
        <img src="../../assets/img/pngegg.png">
        <a href="https://api.whatsapp.com/send?phone=5493816121337" target="_blank">Envíanos un Whatsapp</a>
      </li>
  </ul>
</body>
