nav{
  margin:0px;
}
ul{
  margin: 0px;
  display:flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  border: 1px solid black;
}
ul li{
  margin-left: 0px;
}
ul li a{
  text-decoration: none;
  border:1px solid black;
}
