*{
  margin:0;
  padding:0;
  border:0;
}
body{
  margin:0;
  padding:0;
  display: flex;
  flex-direction: column;
  /*background-color: rgb(rgb(51, 0, 255), green, blue);*/
  background-color: #8BC34A;

}
#contenido{
  width: 90%;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;

}
@media screen-only and (max-width:540px) {
  body{
    width: 100vw;
  }

}
