*{
  margin:0;
  padding:0;
  border:0;
}
body{
  margin:0;
  padding:0 0 15px 0;
  display: flex;
  flex-direction: column;
  background-color: #043565;
  min-height: 100vh;
}
#contenido{
  width: 90%;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;

}
@media screen-only and (max-width:540px) {
  body{
    width: 100vw;
  }

}
