body{
  background-color: #043565;
  color:white;
  width: 100%;
  border-radius: 10px;
  text-align: center;
}
h1{
  /*background-color: #02394A;*/
  color:white;
  border-radius: 10px 10px 0px 0px;
}
h2{
  background-color:#03A9F4;
  border-radius: 10px;
  padding: 3px;
}
#instrucciones {
  text-align: left;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: white;
  margin: 20px;
}

#instrucciones li {
  margin-bottom: 10px;
}
#filtros{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  text-align: center;
}
#filtroAnimal{

  padding: 10px;
}

#filtroMarca{

  display: flex;
  flex-direction: column;
  padding: 10px;
}
ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
ul li{
  margin:5px;
}
table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color:#03A9F4;
  border-collapse: collapse;
  color: #000000;
  font-weight: bolder;
}
table tr:nth-child(odd) {
  background-color: #8FBFE0; /* Color amarillo para filas impares */
}

table tr:nth-child(even) {
  background-color: #A0D2DB; /* Color naranja para filas pares */
}
table tr:hover{
  background-color: navy;
  color: white;
}
th, td {
  border: 1px solid black;
  text-align: center;
  text-wrap: wrap;
}

th {
  background-color: #f2f2f2;
}

#cartModal{
  color: black;
}


@media screen and (max-width:540px){
  table tr th:nth-of-type(3),
  table tr td:nth-of-type(3),
  table tr th:nth-of-type(5),
  table tr td:nth-of-type(5),
  table tr td:nth-of-type(6),
  table tr th:nth-of-type(6) {
  display: none;
}

table tr th:nth-of-type(1){
  width:15px
}
table tr td:nth-of-type(1){
  width: 15px;
}

table tr th:nth-of-type(2){
  width:15px
}
table tr td:nth-of-type(2){
  width: 15px;
}

table tr th:nth-of-type(4){
  width:20%
}
table tr td :nth-of-type(4){
  width:20%
}

table tr th:nth-of-type(7){
  width:20%
}
table tr td :nth-of-type(7){
  width:20%
}
/*
table tr th:nth-of-type(1){
  width:10%
}
table tr td :nth-of-type(1){
  width:10%
} */
#filtros{
  display: flex;
  flex-direction: column;
}
input[type='number']{
  width: 100%;
  padding:0;
  margin:0
}
input[type='number']:hover{
  color:white;
}

table tr:hover{
  background-color: navy;
  color: white;
}

input[type='number']:focus{
  color:white;
  background-color: #000000;
}

.responsiveModalTable{
  font-size: xx-small;
  padding: 0;
  margin: 0;
  text-wrap: wrap;
}
.responsiveModalTable td{
  padding: 0;
  margin: 0;
  text-wrap: wrap;

}
.responsiveModalTable th{
  padding: 0;
  margin: 0;
  text-wrap: wrap;

}
.responsiveModalTabletable tr th:nth-of-type(5), table tr td:nth-of-type(5){
  display: flex;
}
}
