<body>
<h1>Nuestros Alimentos</h1>
<h2>Compra sin registrarte ni ingresar tus datos</h2>
<ol id="instrucciones">
  <li>Selecciona la cantidad del producto deseado y haz click en la casilla de verificación para agregarlos al carrito.</li>
  <li>Cuando termines haz click en ver carrito y luego en Enviar para enviarnos la lista y ponernos en contacto.</li>
  <li>No se te va a realizar ningún cobro hasta que hayamos confirmado el pedido vía WhatsApp.</li>
</ol>
<h2>APROVECHA LOS DESCUENTOS DE SEPTIEMBRE!!!</h2>
<h4>y compra a precio MAYORISTA</h4>
<div id="filtros" *ngIf="marcas">
  <div id="filtroAnimal">
    <h2>Animal</h2>
      <ul>
        <li><input type="checkbox" name="perro" id="perro" (change)="aplicarFiltros()">Perros</li>
        <li><input type="checkbox" name="gato" id="gato" (change)="aplicarFiltros()">Gatos</li>
      </ul>
  </div>
  <div id="filtroMarca">
    <h2>Marca</h2>
      <ul>
        <li *ngFor="let marca of this.marcas" id="listaMarcas">
          <input type="checkbox" name="{{marca}}" id="{{marca}}" (change)="aplicarFiltros()">{{marca}}
        </li>
      </ul>
  </div>
</div>
<button class="btn btn-primary" (click)="openCart()">Ver Carrito</button>
<div *ngIf="data">
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Cant.</th>
        <th >Marca</th>
        <th>Descripción</th>
        <th >Presentación</th>
        <th >Precio</th>
        <th>Precio Web</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of dataFiltrada, let i=index">
        <tr>
          <td><input type="checkbox" (change)="toggleItemSelection(item, $event)" [checked]="isChecked(item)"></td>
          <td><input type="number" [(ngModel)]="item.quantity" id="{{item.DESCRIPCION}}" (change)="updateQuantity(item)" value="1"></td>
          <td>{{ item.MARCA }}</td>
          <td>{{ item.DESCRIPCION }}</td>
          <td>{{item.PRESENTACION}} kg</td>
          <td>$ {{ ((item.PRECIOM.toFixed(0))) }}</td>
          <td>$ {{((item.PRECIOM)).toFixed(0)}}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>

</div>


<!-- Modal -->



<div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cartModalLabel">Carrito de Compras</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered responsiveModalTable">
          <thead>
            <tr>
              <th>Descripción</th>
              <th>Precio Unitario</th>
              <th>Cant.</th>
              <th>Total</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cart">
              <td>{{ item.DESCRIPCION }}</td>
              <td>$ {{ (item.PRECIO*1).toFixed(2) }}</td>
              <td>{{item.quantity}}</td>
              <td>$ {{ (item.PRECIO*1* item.quantity).toFixed(2) }}</td>
              <td>
                <button class="btn btn-danger btn-sm" (click)="removeItemFromCart(item)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
        <div>
          <h3>Total General: $ {{ (totalGeneral*0.985).toFixed(2) }}</h3>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeCart()">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="sendWhatsApp()">Enviar</button>
      </div>
    </div>
  </div>
</div>
</body>
