body{
  color:white;
  border-radius: 25px;
  background-color:rgba(255, 255, 255, 0.276);
  background-size:35%;
  height: 74vh;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
h1{
  font-size: 3rem;
  animation-duration: 2s;
  animation-name: colors;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes colors {
    from{
      color:navy;
      font-size: 3rem;
    }
    to{
      color:white;
      font-size: 1rem;
    }
}
