<body>
  <h1>¡Llegó Septiembre!</h1>
  <h2>y llegaron los descuentos a FRIDO</h2>
  <h2>Aprovechá y comprá a precio MAYORISTA</h2>
  <h3>Envíanos tu pedido y consulta por las promos vigentes</h3>
  <p>En nuestra tienda vas a encontrar:</p>
  <ul>
      <li>Gran Variedad de Alimentos</li>
      <li>Comederos, Juguetes, Correas</li>
      <li>Pipetas, Talcos y Pastillas antipulgas</li>
      <li>Piedras y Kits Sanitarios</li>
      <li>y mucho más</li>
  </ul>
  <!-- <h2>No dudes en consultarnos</h2> -->
</body>
